<!DOCTYPE html>
<html class="bg-dark mx-auto">
  <head>
    <meta charset="UTF-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap Setup -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>

  <body class="mx-lg-5 mx-md-3 mx-sm-0 my-lg-5 my-md-3 my-sm-0">
    <header>
      <nav class="navbar bg-primary text-light shadow-lg">
        <span class="p-5 w-100 navbar-brand">
          <h1 class="font-weight-bold text-center text-wrap">Password Generator</h1>
        </span>
      </nav>
    </header>

    <div class="container py-5 px-lg-5 px-md-3 px-sm-0">
      {% block content %}{% endblock %}
    </div>

    <footer class="clearfix font-italic">
      <div class="bg-primary text-light footer-copyright text-center py-3">
        <h5>&copy; 2021, Greg Hosking</h5>
      </div>
    </footer>

    <!-- Further Bootstrap and JavaScript Setup -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>