{% extends 'base.html' %}
{% block content %}
<!-- Additional scripts for the page -->
<script src="{{ url_for('static', filename='/javascript/generate_password.js') }}"></script>
<script src="{{ url_for('static', filename='/javascript/copy_to_clipboard.js') }}"></script>
<!-- Additional style rules for the page -->
<style>
  .checkbox-lg .custom-control-label::before,
  .checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
  }

  .checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
  }
</style>

<div class="container">
  <form id="password-form">
    <!-- "Password Length" Row -->
    <div class="form-group row">
      <div class="h4 col-sm-10">Password Length</div>
      <div class="col-sm-2">
        <select class="custom-select custom-select-md" id="password-length-select" name="password-length-select">
          <optgroup label="Weak">
            {% for i in range(6, 16) %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </optgroup>
          <optgroup label="Strong">
            {% for i in range(16, 65) %}
              {% if i == 16 %}
                <option value="{{i}}" selected>{{i}}</option>
              {% else %}
                <option value="{{i}}">{{i}}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
          <optgroup label="Unbelievable">
            {% for i in range(7, 12) %}
            <option value="{{2**i}}">{{2**i}}</option>
            {% endfor %}
          </optgroup>
        </select>
      </div>
    </div>
    <!-- "Include Uppercase Letters" Row -->
    <div class="form-group row">
      <div class="h4 col-sm-10 pt-2">Include Uppercase Letters</div>
      <div class="col-sm-1">
        <div class="custom-control custom-checkbox checkbox-lg">
          <input type="checkbox" class="custom-control-input" id="checkbox-1" name="checkbox-1" checked>
          <label class="custom-control-label" for="checkbox-1"></label>
        </div>
      </div>
    </div>
    <!-- "Include Lowercase Letters" Row -->
    <div class="form-group row">
      <div class="h4 col-sm-10 pt-2">Include Lowercase Letters</div>
      <div class="col-sm-1">
        <div class="custom-control custom-checkbox checkbox-lg">
          <input type="checkbox" class="custom-control-input" id="checkbox-2" name="checkbox-2" checked>
          <label class="custom-control-label" for="checkbox-2"></label>
        </div>
      </div>
    </div>
    <!-- "Include Numbers" Row -->
    <div class="form-group row">
      <div class="h4 col-sm-10 pt-2">Include Numbers</div>
      <div class="col-sm-1">
        <div class="custom-control custom-checkbox checkbox-lg">
          <input type="checkbox" class="custom-control-input" id="checkbox-3" name="checkbox-3" checked>
          <label class="custom-control-label" for="checkbox-3"></label>
        </div>
      </div>
    </div>
    <!-- "Include Symbols" Row -->
    <div class="form-group row">
      <div class="h4 col-sm-10 pt-2">Include Symbols</div>
      <div class="col-sm-1">
        <div class="custom-control custom-checkbox checkbox-lg">
          <input type="checkbox" class="custom-control-input" id="checkbox-4" name="checkbox-4" checked>
          <label class="custom-control-label" for="checkbox-4"></label>
        </div>
      </div>
    </div>
    <!-- "Exclude Ambiguous Symbols" Row -->
    <div class="form-group row">
      <div class="h4 col-sm-10 pt-2">Exclude Ambiguous Symbols</div>
      <div class="col-sm-1">
        <div class="custom-control custom-checkbox checkbox-lg">
          <input type="checkbox" class="custom-control-input" id="checkbox-5" name="checkbox-5">
          <label class="custom-control-label" for="checkbox-5"></label>
        </div>
      </div>
    </div>
    <!-- "Generate Password" Button -->
    <div class="form-group row">
      <button class="btn btn-primary col-sm-11 ml-3 mt-3" type="button" onclick="generatePassword()">
        <h5>Generate Password</h5>
      </button>
    </div>
  </form>

  <!-- Password Text Box and Copy Button -->
  <form>
    <div class="form-group row">
      <input class="form-control col-sm-11 col-md-9 col-lg-9 ml-3" type="text" id="password-textbox"
        name="password-textbox" value="{{password}}">
      <button class="btn btn-primary col-sm-11 col-md-2 col-lg-2 ml-3 ml-md-0 ml-lg-0" type="button"
        onclick="copyToClipboard()">Copy</button>
    </div>
  </form>
</div>
{% endblock %}